.logo-wrapper {
    width: 80px;
    margin: 5px auto;
}

.fa-star,
.fa-star-o {
  font-size: 25px;
  
}

.yellow {
  color: gold;
  text-shadow: 0 0 3px #000;
}

.title-mobile {
    display: none;
}

@media (max-width: 860px) {
    .logo-wrapper {
      width: 50px;
    }
}
@media (max-width: 580px) {
    .logo-wrapper {
        width: 150px;
    }
    .star-icon-wrapper {
        text-align: left;
    }
    .fa-star,
    .fa-star-o {
        font-size: 35px;
    }
    .title-mobile {
        display: inline;
        font-weight: bold;
    }
    
}

.blink {
	-webkit-animation: blink 0.5s both;
	        animation: blink 0.5s both;
}

@-webkit-keyframes blink {
    0% {
      opacity: 1;
      
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
}
@keyframes blink {
    0% {
      opacity: 1;
      background-color: rgb(245, 234, 170);
    }
    50% {
      opacity: 0.2;
      background-color: rgb(242, 223, 115);
    }
    100% {
      opacity: 1;
    }
}
  