table {
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    background-color: white;
    font-size: 1.5rem;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 40px 0px;
}

table tr:nth-child(even) {
    background: #F8F8F8;
}
tbody tr:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.40) 0px 0px 40px 0px;
}
table thead th {
    color: #ffffff;
    background: #6c7ae0;
    padding: 10px 6px;
}

thead tr th:first-child {
    border-top-left-radius: 6px;
}
thead tr th:last-child {
    border-top-right-radius: 6px;
}

.pagination-container {
    width: 100%;
}

.pages-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.pages-list i {
    font-size: 1.5rem;
    cursor: pointer;
}

.false {
    color: grey;
    pointer-events: none;
}

.pages-list > * {
    font-size: 1.3rem;
    cursor: pointer;
    margin: 5px 10px;
}

li.current-page {
    font-weight: bold;
    font-size: 1.6rem;
}

@media (max-width: 580px) {
    table thead {
      display: none;
    }
    tr {
      display: flex;
      flex-direction: column;
      padding: 10px;
    }
    
}
